<!--  This file is app/views/movies/index.html.erb -->
<h2>This is what your week looks like!!</h2>

<%#  Part 2: Start here... %>

<table class="table table-striped col-md-12" id="movies">
  <thead>
    <tr>
      <th>Day</th>
      <th>Meal</th>
      <th>Max Customers</th>
      <th>Customers</th>
    </tr>
  </thead>
  <tbody>
    <% @chefs.each do |movie| %>
      <tr>
        <td>
          <%= movie.title %>
        </td>
        <td>
          <%= movie.rating %>
        </td>
        <td>
          <%= movie.release_date %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Change your schedule', edit_chef_path, :class => 'btn btn-primary' %>
